.Hbox{
    -fx-background-image: url('../imagenes/fondoAlquileres2.jpg');
    -fx-background-size: 100%;
}

#titulo{
    -fx-text-align: center; 
    -fx-font-family: serif;
    -fx-font-weight: bold; 
    -fx-font-size: 30px; 
    -fx-background-clip: text; 
}

#box{
    -fx-background-color: rgb(254, 222, 109);
    -fx-border-color: rgb(208, 3, 154);
}

.AncherPane{
    -fx-background-color: rgb(239, 162, 39);
    -fx-border-color: rgb(3, 5, 17);
}

.AncherPane2{
    -fx-background-color: rgb(187, 218, 134);
    -fx-border-color: rgb(102, 27, 199);
}

.AncherPane3{
    -fx-background-color: rgba(141, 227, 126, 0.86);
}

.AncherPane4{
    -fx-background-color: rgba(222, 94, 94, 0.86);
}

#titulo{
    -fx-text-align: center; 
    -fx-font-family: serif;
    -fx-font-weight: bold; 
    -fx-font-size: 25px; 
    -fx-background-clip: text; 
}


Button {
    -fx-padding: 5 22 5 22;
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: #1d1d1d;
    -fx-font-size: 11pt;
    -fx-text-fill: #d8d8d8;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
    -fx-cursor: hand;
  }

  Button:hover {
    -fx-background-color: #3a3a3a;
}

 Button:pressed, .button:default:hover:pressed {
    -fx-background-color: white;
    -fx-text-fill: #1d1d1d;
  }

  Button:focused {
    -fx-border-color: white, white;
    -fx-border-width: 1, 1;
    -fx-border-style: solid, segments(1, 1);
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}

Button:disabled, .button:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: #1d1d1d;
    -fx-text-fill: white;
}

Button:default {
    -fx-background-color: -fx-focus-color;
    -fx-text-fill: #ffffff;
}

Button:default:hover {
    -fx-background-color: derive(-fx-focus-color,30%);
}

.ListView{
    -fx-background-color: rgb(100, 184, 149);
    -fx-border-color: rgb(10, 2, 2);
}