.BorderPane{
    -fx-background-image: url('../imagenes/clientesOpciones.jpg');
    -fx-background-size: 100%;
}


#titulo{
    -fx-text-align: center; 
    -fx-font-family: serif;
    -fx-font-weight: bold; 
    -fx-font-size: 30px; 
    -fx-background-clip: text; 
}


#titulo2{
    -fx-text-align: center; 
    -fx-font-family: serif;
    -fx-font-weight: bold; 
    -fx-font-size: 25px; 
    -fx-background-clip: text; 
}

#box{
    -fx-background-color: pink;
    -fx-border-color: purple;
}

.AnchorPane{
    -fx-background-color: rgb(82, 221, 105);
    -fx-border-color: rgb(8, 24, 150);
}

.AnchorPane2{
    -fx-background-color: rgb(141, 146, 227);
    -fx-border-color: rgb(32, 145, 42);
}

.AnchorPane3{
    -fx-background-color: rgba(212, 73, 73, 0.522);
    -fx-border-color: rgb(255, 17, 17);
}

.TableView{
    -fx-border-color: rgb(12, 8, 207);
    
}

.TableView .column-header .label{
    -fx-text-fill: rgb(1, 0, 1);
}

#tfEstilo{
    -fx-border-radius: 5;
    -fx-border-width: 2;
}

Button {
    -fx-padding: 5 22 5 22;
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: #1d1d1d;
    -fx-font-size: 11pt;
    -fx-text-fill: #d8d8d8;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
    -fx-cursor: hand;
  }

  Button:hover {
    -fx-background-color: #3a3a3a;
}

 Button:pressed, .button:default:hover:pressed {
    -fx-background-color: white;
    -fx-text-fill: #1d1d1d;
  }

  Button:focused {
    -fx-border-color: white, white;
    -fx-border-width: 1, 1;
    -fx-border-style: solid, segments(1, 1);
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}

Button:disabled, .button:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: #1d1d1d;
    -fx-text-fill: white;
}

Button:default {
    -fx-background-color: -fx-focus-color;
    -fx-text-fill: #ffffff;
}

Button:default:hover {
    -fx-background-color: derive(-fx-focus-color,30%);
}

.ListView{
    -fx-background-color: rgb(166, 210, 228);
    -fx-border-color: rgb(140, 14, 14);
}

