.Hbox{
    -fx-background-image: url('../imagenes/fondoVehiculos.jpg');
    -fx-background-size: 100%;
}

#titulo{
    -fx-text-align: center; 
    -fx-font-family: serif;
    -fx-font-weight: bold; 
    -fx-font-size: 30px; 
    -fx-background-clip: text; 
}

#box{
    -fx-background-color: rgba(206, 58, 144, 0.622);
    -fx-border-color: rgb(49, 49, 223);
}